body {
    background-image: url(https://cdn.pixabay.com/photo/2013/02/20/11/30/autumn-83761_960_720.jpg);
    /* background-size: cover; */
}

.jumbotron {
    background-image: url(https://images.immediate.co.uk/production/volatile/sites/23/2014/11/GettyImages-888995042-c1288ee.jpg?quality=90&crop=147px%2C265px%2C1605px%2C1069px&resize=620%2C413);
}

img{
    border-radius: 20px;
}
